:root {
    --color-fondo: #1E201E;
    --color-secundario: #F6F6F6;
    --color-terciario: #22D4FD;
    --color-resalte: #0A3871;
    --color-hover: #272727;

    --fuente-inter: 'Inter';
}
/* Estilo general de la pagina */
* {
    padding: 0;
    margin: 0;
    font-family: var(--fuente-inter);
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
}

body {
    background-color: var(--color-fondo);
    margin: 10px;
}

.logo {
    padding-top: 20px;
}

.logo:hover {
    color: #d4d4d4;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    margin-left: 80px;
    color: var(--color-secundario);
    margin: 10px;
}

.encabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 80%;
    gap: 5px;
}

.encabezado__titulo {
    font-size: 1.5rem;
}

.encabezado__subtitulo {
    font-size: .8rem;
}

.encriptador {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.cifrado {
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-height: 60dvh;
    height: auto;
    margin: 5px;
    padding: 10px;
}

.textarea__cifrado {
    width: 100%;
    max-width: 577px;
    max-height: 60dvh;
    height: auto;
    overflow: auto;
    border: none;
    border-radius: 8px;
    padding: 10px;
    color: var(--color-resalte);
    margin: 5px;
    text-transform: lowercase;
    resize: none;
}
::placeholder { color: #b5b5b5;}
    .textarea__cifrado:focus {
    outline: none;
    }

.informacion {
    color: var(--color-secundario);
    font-size: 18px;
}


.botones {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btn-encriptar {
    background-color: var(--color-resalte);
    border: 2px solid var(--color-resalte);
    border-radius: 24px;
    color: var(--color-secundario);
    cursor: pointer;
    height: 67px;
    width: 328px;
}

.btn-encriptar:hover {
    background-color: var(--color-hover);
}

.btn-desencriptar {
    background-color: var(--color-terciario);
    border: 2px solid var(--color-resalte);
    border-radius: 24px;
    color: var(--color-resalte);
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btn-desencriptar:hover {
    background-color: var(--color-hover);
}

.presentacion {
    background: #b5b5b5;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-repeat: no-repeat;
    border: none;
    width: 100%;
    max-width: 400px;
    max-height: 100dvh;
    height: 65dvh;
    padding: 10px;
    margin: 20px;
    gap: 5px;
    padding: 5px;
    color: var(--color-resalte);
    padding-left: 20px;
}

.presentacion.ajustar {
    justify-content: space-around;
}

.presentacion:focus {
    outline: none;
}

.presentacion__titulo {
    width: 100%;
    max-width: 577px;
    max-height: 60dvh;
    height: auto;
    background: none;
    border: none;
    outline: none;
    text-align: center;
    margin: 5px;
    resize: none;
}

.presentacion__titulo::placeholder { 
    color: var(--color-resalte);
    font-weight: bold;
    font-size: 24px;
}
    .textarea__cifrado:focus {
    outline: none;
    }

.presentacion__titulo.ajustar {
    text-align: left;
    font-weight: 400;
    height: 80%;
}

.presentacion__parrafo {
    font-size: 16px;
    margin: 5px;
}

.presentacion__imagen {
    width: 100%;
    margin: 5px;
}

.btn-copiar {
    background-color: var(--color-terciario);
    border: 2px solid var(--color-resalte);
    border-radius: 24px;
    color: var(--color-resalte);
    cursor: pointer;
    height: 67px;
    width: 336px;
    display: none;
    margin: 5px;
}

.btn-copiar:hover {
    background-color: var(--color-hover);
}


.footer {
    background-color: var(--color-resalte);
    border: none;
    color: var(--color-secundario);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 5dvh;
    width: 100%;
    margin: 5px;
    padding: 5px;
    position: absolute;
}

.footer__texto {
    font-size: 20px;
}

.footer__enlaces {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px;
}

.footer__enlaces__link {
    border-radius: 8px;
    padding: 0px;
    margin: 10px;
    width: 30px;
    align-items: center;
}

.footer__enlaces__link:hover {
    background-color: var(--color-hover);
}


@media screen and (max-width: 1200px) {

    .encriptador {
        flex-direction: column;
        align-items: center;
        padding: 5%;
        width: auto;
    }

    .botones {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        justify-content: center;
        margin: 5px;
    }
}